name: Provision infra then destory

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Install Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Terraform Init
      run: |
        cd terraform
        terraform init

    - name: Terraform Apply
      run: |
        cd terraform
        terraform apply -auto-approve

    - name: Extract EC2 Public IP
      run: |
        echo "EC2_IP=$(terraform -chdir=terraform output -raw public_ip)" >> $GITHUB_ENV

    - name: Create SSH key file
      run: |
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > key.pem
        chmod 600 key.pem

    - name: Generate Ansible inventory
      run: |
        echo "[web]" > ansible/inventory.ini
        echo "$EC2_IP ansible_user=ubuntu ansible_ssh_private_key_file=key.pem" >> ansible/inventory.ini

    - name: Run Ansible Playbook
      run: |
        ansible-playbook -i ansible/inventory.ini ansible/playbook.yml

    - name: Print Application URL
      run: |
        echo "Application is available at: http://$EC2_IP"

    - name: Wait 5 minutes before destroy
      run: sleep 300

    - name: Terraform Destroy
      if: always()
      run: |
        cd terraform
        terraform destroy -auto-approve
